:root {
    --main-bg-color: #35495e;
    --main-text-color: #42b883;
    --secondary-bg-color: #42b8834d;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html,
body,
#app {
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 350px;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.field-container label {
    font-size: 1.25rem;
}

.field-container input {
    outline: none;
    font-size: 1.25rem;
    padding: 0.25rem;
}

.form-button {
    background: linear-gradient(0deg, rgba(66, 211, 146, 1) 0%, rgba(96, 136, 243, 1) 100%);
    padding: 1rem;
    color: white;
    font-size: 1.25rem;
}

h1 {
    text-align: center;
}

.container h1 {
    margin-bottom: 1rem;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-errors {
    color: red;
    font-weight: 600;
}